.html {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
    text-align: justify;
}


.body {
  box-sizing: border-box;
  min-height: 100vh;
}


.heart {
  text-align: center;
  border-bottom: 3px solid black;
}

.title {
  font-family: 'Hedvig Letters Serif', serif;
  text-align: center;
  font-size: 25px;
}

.home {
  padding-left: 5%;
}

.info {
  padding-left: 19%;
}

.location {
  padding-left: 40%;
}

.email {
  padding-left: 17%;
}

.Inicio {
  padding-left: 5.2%;
}

.Informacoes {
  padding-left: 19%;
  white-space: nowrap;
  overflow: hidden;
}

.conteudoSobre {
  display: flex;
  padding-right: 7%;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
}

.textoSobre {
  text-align: left;
  padding-right: 20%;
  padding-left: 8%;
}

.textoServicos {
  padding-right: 8%;
  padding-left: 8%;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  text-align: justify;
}

.shi {
  text-align: center;
}

.hidden {
  text-align: left;
  padding-right: 8%;
  padding-left: 8%;
  line-height: 24px;
}

.leClercServicos {
  font-family: 'Hedvig Letters Serif', serif;
  text-align: center;
  font-size: 25px;
}

.psiquiatrico {
  padding-left: 8.3%;
  font-size: 28px;
}

.textoPsiquiatrico {
  text-align: left;
  padding-right: 20%;
  padding-left: 8%;

}

.servicos {
  display: flex;
  justify-content: space-between;
  padding-right: 4%;
}

.PsicoanaliseTitle {
  padding-left: 8.3%;
  font-size: 28px;
}

.textoPsicoanalise {
  text-align: left;
  padding-right: 10%;
  padding-left: 8%;
}

.menu {
  position: fixed;
  bottom: 120px;
  right: 10px;
  background-color: #46c5ff;
  padding: 10px;
  border-radius: 5px;
  transition: top 0.3s ease-in-out;
  z-index: 999;
  /* Garante que o menu fique sempre visível */
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Hedvig Letters Serif', serif;
  text-align: center;
  font-size: 25px;
}

.menu ul li {
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
}

.menu ul li a:hover {
  color: #ffcc00;
}

@media screen and (max-width: 768px) {

  /* celulares */
  .home,
  .info,
  .location,
  .email,
  .Inicio,
  .Informacoes {
    padding-left: 10%;
  }

  .conteudoSobre {
    flex-direction: column;
    align-items: center;
  }

  .textoSobre,
  .textoServicos,
  .hidden {
    padding-right: 5%;
    padding-left: 5%;
    text-align: justify;
  }

  .title {
    align-items: center;
    text-align: center;
  }

  .menu ul li {
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;

  }

  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Hedvig Letters Serif', serif;
    text-align: center;
    font-size: 13px;
  }
}

@media screen and (max-width: 1280px) {

  /* tablets */
  .home,
  .info,
  .location,
  .email,
  .Inicio,
  .Informacoes {
    padding-left: 10%;
    
  }
  .Chinelo{
    max-width: 100%;
  }

  .conteudoSobre {
    flex-direction: column;
    align-items: center;
    padding-left: 7%;
  }

  .textoSobre,
  .textoServicos,
  .hidden {
    padding-right: 5%;
    padding-left: 3%;
    text-align: justify;
  }

  .title {
    align-items: center;
    text-align: center;
  }

  .servicos {
    padding-left: 4%;
  }
}

.btEquipe,
.btContato {
  background-color: rgb(57, 209, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.4s ease;
  /* Adiciona uma transição suave de 1 segundo */
  margin: 0 10px;

}

.btEquipe:hover,
.btContato:hover {
  background-color: lightblue;
  transform: scale(1.2);
  /* Aumenta o tamanho em 1.2x quando o mouse está sobre o botão */
}

.botoes {
  text-align: center;
  margin-top: 20px;

}
